
.contact {
  padding-top: 100px;
  padding-bottom: 100px;
  background:  #EDE9E3;
  &__title {
    color: #7e6d53; 
    font-family: Poppins;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 8px;
  }

  &__subtitle {
    color: #7e6d53;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__box {
    display: flex;
    border-radius: 16px;
    background: #7e6d53;
    padding: 53px 74px;
    width: 700px;
    height: 226px;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 64px; 
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
  }
  &__info{
    color: #fff;
    opacity: 0.6;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
  }
  &__svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    stroke: #FCFCFB;
    fill: none;
  }

  &__btn {
    display: flex;
    height: 54px;
    padding: 6px 46px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #fcfcfb; 
    color: var(--text-of-pages, #7e6d53);
    border: none;
    cursor: pointer;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 300;
  }
}

