.header{
    background: linear-gradient(269deg, #2d2a22 20.66%, #7e6d53 85.22%);
    padding-bottom: 22px;
    & .container{
        display: flex;
    gap: 144px;
    align-items: center;
  
    }

&__svg{
    width: 56px;
    height: 56px;
    fill: #FCFCFB;
    margin-right: auto;
    @media screen and (min-width: 724px) {
margin-right: 0;
      }
}


&__list{
    display: none;
    gap: 48px;

    @media screen and (min-width: 724px) {
        gap: 32px;
        display: flex;
        
      }

}

&__link{
    color: #FCFCFB;
font-family: "Inter";
font-size: 16px;
font-weight: 400;
line-height: normal;
}

&__button{
    display: none;
    height: 40px;
    padding: 4px 29px;
    justify-content: center;
    align-items: center;
    width: 152px;
color: #FCFCFB;
font-family: "Poppins";
font-size: 16px;
font-weight: 300;
border-radius: 8px;
border: 1px solid #FCFCFB;
background: #2E2B23;


@media screen and (min-width: 1164px) {
    display: flex;
  }
}}



.burger{
    display: flex;
    border: none;
    background-color: hsla(120, 100%, 50%, 0);
    @media screen and (min-width: 724px) {
        display: none;
      }
      &__svg{
        fill: #FCFCFB;
        width: 18px;
    height: 16px;
      }

}