$background-contact: #ede9e3;
$text-and-button-color: #7e6d53;
$white: #fff;
$svg-color: #fcfcfb;
$btn-mobile-color: #2d2a22;
$text-color: #35322d;
$text-second-color:#979797;
$input-color: #999ea3;

