h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.container {
  width: 1280px;
  height: auto;
  padding: 68px auto;
  margin: 0 auto;
}

.header {
  background: #7E6D53;
  display: flex;
  gap: 144px;
}
.header__svg {
  width: 56px;
  height: 56px;
  fill: #FCFCFB;
}
.header__list {
  display: flex;
  gap: 48px;
}
.header__link {
  color: #FCFCFB;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__button {
  display: flex;
  height: 40px;
  padding: 4px 29px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #FCFCFB;
  background: #2E2B23;
}

.contact {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #EDE9E3;
}
.contact__title {
  color: #7e6d53;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}
.contact__subtitle {
  color: #7e6d53;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}
.contact__box {
  display: flex;
  border-radius: 16px;
  background: #7e6d53;
  padding: 53px 74px;
  width: 700px;
  height: 226px;
  margin: 0 auto;
}
.contact__content {
  display: flex;
  align-items: center;
  gap: 64px;
}
.contact__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact__item {
  color: #fff;
  opacity: 0.6;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.contact__svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.contact__btn {
  display: flex;
  height: 54px;
  padding: 6px 46px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #fcfcfb;
  color: var(--text-of-pages, #7e6d53);
  border: none;
  cursor: pointer;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 300;
}

.footer {
  background: linear-gradient(269deg, #2d2a22 20.66%, #7e6d53 85.22%);
  padding-top: 32px;
  padding-bottom: 8px;
}
.footer__container {
  display: flex;
}
.footer__logo {
  width: 56px;
  height: 56px;
  margin-right: 162px;
}
.footer__box {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 209px;
}
.footer__list-address {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 253px;
}
.footer__title {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}
.footer__link {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}
.footer__list-navigation {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__svg {
  width: 24px;
  height: 24px;
}
.footer__text {
  text-align: center;
  color: #979797;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.footer__span {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}/*# sourceMappingURL=main.css.map */