<section class="contact">
<div class="container">
  <h2 class="contact__title">Get in touch!</h2>
  <p class="contact__subtitle">Contact us for a quote.</p>
  <div class="contact__box">
    <address class="contact__address">
      <ul class="contact__list">
        <li class="contact__item">
          <svg class="contact__svg">
            <use href="*"></use>
          </svg>   
          4517 Washington Ave.
        </li>
        <li class="contact__item">
          <svg class="contact__svg">
            <use href="*"></use>
          </svg>   
          willie.jennings@example.com
        </li>
        <li class="contact__item">
        <svg class="contact__svg">
          <use href="*"></use>
        </svg>   
        (+33)7 00 55 54 79
      </li>
      </ul>
    </address>
    <button class="contact__btn">Contact us</button>
  </div>
</div>
</section>