<section class="contact">
  <div class="container">
    <h2 class="contact__title">Get in touch!</h2>
    <p class="contact__subtitle">Contact us for a quote.</p>
    <div class="contact__box">
      <address class="contact__address">
        <div class="contact__content">
          <ul class="contact__list">
            <li class="contact__item">
              <svg class="contact__svg">
                <use href="../imeg/yarik/symbol-defs.svg#icon-map"></use>
              </svg>
              <p class="contact__info">4517 Washington Ave.</p>
            </li>
            <li class="contact__item">
              <svg class="contact__svg">
                <use href="../imeg/yarik/symbol-defs.svg#icon-spike"></use>
              </svg>
              <p class="contact__info">willie.jennings@example.com</p>
            </li>
            <li class="contact__item">
              <svg class="contact__svg">
                <use href="../imeg/yarik/symbol-defs.svg#icon-phone"></use>
              </svg>
              <p class="contact__info">(+33)7 00 55 54 79</p>
            </li>
          </ul>
          <button type="button" class="contact__btn" data-modal-open>
            Contact us
          </button>
        </div>
      </address>
    </div>
  </div>
</section>
