<section class="desk">
    <div class="desk__back">
    <div class="container">
        <div class="desk__group">
        <ul class="desk__svglist">
            <li class="desk__item">
                <svg class="desk__iconsvg">
                    <use href="./img/timur/symbol-defs.svg#icon-suitcase"></use>
                </svg>
                <p class="desk__text">15 years of experience</p>
            </li>
            <li class="desk__item">
                <svg class="desk__iconsvg">
                    <use href="./img/timur/symbol-defs.svg#icon-graph"></use>
                </svg>
                <p class="desk__text">30 thousand happy residents</p>
            </li>
            <li class="desk__item">
                <svg class="desk__iconsvg">
                    <use href="./img/timur/symbol-defs.svg#icon-home"></use>
                </svg>
                <p class="desk__text">22 houses built</p>
            </li>
            <li class="desk__item">
                <svg class="desk__iconsvg">
                    <use href="./img/timur/symbol-defs.svg#icon-star"></use>
                </svg>
                <p class="desk__text">9 awards</p>
            </li>
        </ul>
        <div class="desk__minigroup">
        <h3 class="desk__title">Philosophy of our company</h3>
        <p class="desk__discript">Residential complex “Nice view” is an island of tranquility, security and comfort. <br>
            In our project, we created the opportunity to lead a measured life in the very center of the city.</p>
        </div>
    </div>
    </div>
    </div>
</section>