<section id="gallery" class="gallery">
    <div class="container">
                <h2 class="gallery__title">Gallery</h2>
        <div class="gallery__position">
        <div class="gallery__group">
        <svg class="gallery__svg">
            <use class="arrow" href="./img/timur/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
        <ul class="gallery__list">
            <li class="gallery__item"><img src="./img/timur/building.webp" alt="firstpic" class="gallery__foto"></li>
            <li class="gallery__item-center"><img src="./img/timur/buildingtwo.webp" alt="twopic" class="gallery__foto"></li>
            <li class="gallery__item"><img src="./img/timur/lastbuilding.webp" alt="lastpic" class="gallery__foto"></li>
        </ul>
        <svg class="gallery__svg">
            <use class="arrow" href="./img/timur/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
    </div>
</div>
    </div>
    
</section>