 <header class="header">
    <section>
        <div  class="container">
<svg class="header__svg">
    <use href="../img/symbol-defs.svg#icon-title"></use>
</svg>
<ul class="header__list">
    <li class="header__item"><a href="#" class="header__link">Home</a></li>
    <li class="header__item"><a href="#" class="header__link">About</a></li>
    <li class="header__item"><a href="#" class="header__link">Apartments</a></li>
    <li class="header__item"><a href="#" class="header__link">Infrastructure</a></li>
    <li class="header__item"><a href="#" class="header__link">Gallery</a></li>
    <li class="header__item"><a href="#" class="header__link">Contacts</a></li>
</ul>
<button type="submit" class="header__button">Contact us</button>
<button class="burger" data-modal-header-open><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <g clip-path="url(#clip0_8_1148)">
    <path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z" fill="#FCFCFB"/>
    </g>
    <defs>
    <clipPath id="clip0_8_1148">
    <rect width="24" height="24" fill="white"/>
    </clipPath>
    </defs>
    </svg></button>
</div>
    </section>

    
</header>