<header class="header">
    <section class="container">
<svg class="header__svg">
    <use href="../imeg/dima/symbol-defs.svg#icon-title">

    </use>
</svg>
<ul class="header__list">
    <li class="header__item"><a href="#" class="header__link">Home</a></li>
    <li class="header__item"><a href="#" class="header__link">About</a></li>
    <li class="header__item"><a href="#" class="header__link">Apartments</a></li>
    <li class="header__item"><a href="#" class="header__link">Infrastructure</a></li>
    <li class="header__item"><a href="#" class="header__link">Gallery</a></li>
    <li class="header__item"><a href="#" class="header__link">Contacts</a></li>
</ul>
<button type="submit" class="header__button">Contact us</button>

    </section>

    
</header>