<div class="backdrop is-hidden" data-modal>
  <div class="backdrop__modal">
    <h2 class="backdrop__title">Leave your contacts and we will contact you</h2>
    <form class="backdrop__form">
      <label for="name" class="backdrop__label">Name</label>
      <input
        type="text"
        pattern="[A-Za-zА-Яа-яЁё\s]+"
        id="name"
        class="backdrop__input"
        required
        placeholder="Yuliia"
      />

      <label for="phone" class="backdrop__label">Telephone</label>
      <input
        type="tel"
        pattern="\+?[0-9\s\-\(\)]{10,}"
        id="phone"
        class="backdrop__input"
        required
        placeholder="+380"
      />

      <label for="mail" class="backdrop__label">Email</label>
      <input
        type="email"
        id="mail"
        class="backdrop__input"
        required
        placeholder="Contact@gmail.com"
      />
    
    <button type="submit" class="backdrop__btn">Contact us</button>
  </form>
    <button type="button" class="backdrop__close" data-modal-close>
      <svg class="backdrop__close-svg">
        <use href="../imeg/yarik/symbol-defs.svg#icon-Frame"></use>
      </svg>
    </button>
  </div>
</div>
