<section class="type">
    <div class="container">
<h2 class="type__title">Choose your apartment</h2>
<ul class="type__list">
    <li class="type__item">
        <img src="../img/home2.jpg" alt="Схема будинку" class="type__img">
        <h3 class="type__subtitle">Type 1</h3>
        <p class="type__desk">total area 23 meters</p>
    </li>
    <li class="type__item">
        <img src="../img/home1.jpg" alt="Схема будинку" class="type__img">
       <h3 class="type__subtitle">Type 2</h3>
        <p class="type__desk">total area 23 meters</p>
    </li>
    <li class="type__item">
        <img src="../img/home3.jpg" alt="Схема будинку" class="type__img">
        <h3 class="type__subtitle">Type 3</h3>
        <p class="type__desk">total area 31 meters</p>
    </li>
</ul>
<button type="submit" class="type__button"> Download catalog</button>
    </div>
</section>